body {
    background: red;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #f1f1f1;
}

header {
    background: rgba(10, 70, 105, 1);
}

nav {
    background: orangered;
}

ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    /*background: rgb(219, 154, 13);*/
    background: orangered;
    align-items: center;
    border-right: 2px solid #f1f1f1;
}

.volver {
    text-align: center;
    width: 50px;
    margin: 0 auto;
    height: 50px;
}

.volver:hover {
    background: red;
}

.lectura a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 0 auto;
    text-align: center
}

.profile {
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50%;
}

#opciones ul li {
    background: rgba(0, 0, 0, 0.9);
    border-top: 2px solid transparent !important;
}

#opciones ul li:hover {
    border-top: 2px solid orangered !important;
}

#opciones ul li:last-child {
    border: none;
}

li:hover {
    background: rgba(0, 0, 0, 0.9);
}

figure {
    margin: 0;
}

.img-principal {
    border-radius: 50%;
    width: 95px;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    box-shadow: -2px 4px 2px gray;
    background: white;
}

#videos {
    min-height: 200px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px gray;
    background: white;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

#videos article {
    padding: 20px;
}

#contenido {
    padding: 10px;
    width: 100%;
}

#contenidoLectura {
    padding: 10px;
    width: 40%;
    margin: 0 auto;
}

aside {
    background: rgba(0, 0, 0, 0.9);
    width: 250px;
    padding: 10px;
    height: 400px;
    overflow: auto;
}

.user {
    display: flex;
    justify-content: center;
    background: #FFFF;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 5px 10px;
    padding: 5px;
}

footer {
    background: rgba(10, 70, 105, 1);
    height: 50px;
    padding: 5px;
}

#opciones {
    display: block;
    margin: 0 auto;
    width: 500px;
    margin-bottom: 15px;
}

.lectura {
    text-align: justify;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px gray;
}

.lectura h2 {
    text-align: center;
}

.autores {
    border-radius: 20px 20px 20px 20px;
    text-align: justify;
    margin-bottom: 20px;
    box-shadow: -3px 3px 5px gray;
}

h3 {
    background: #333;
    color: white;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px 20px 0px 0px;
    line-height: 50px;
}

h4 {
    background: #333;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px 0px 20px 20px;
    line-height: 50px;
    color: greenyellow;
}

h5 {
    text-align: center;
}

span {
    display: block;
    font-size: 30px;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#nombres {
    margin: 0px 0px 0px 15px;
}

#wrapper-multimedia {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

#principal-video {
    width: 100%;
    height: 300px;
    box-shadow: 2px 2px 3px gray;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?u0gpm6');
    src: url('../fonts/icomoon.eot?u0gpm6#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?u0gpm6') format('truetype'), url('../fonts/icomoon.woff?u0gpm6') format('woff'), url('../fonts/icomoon.svg?u0gpm6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-circle-up:before {
    content: "\ea41";
}

.icon-circle-up {
    font-size: 20px;
}