body {
    background: white;
    margin: 0;
}

header {
    background: wheat;
}

nav {
    background: tan;
}

ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: tan;
    align-items: center;
    border-right: 3px solid wheat;
}

li:hover {
    background: peru;
}

figure {
    margin: 0;
}

section {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    box-shadow: -2px 4px 2px gray;
}

#contenido {
    padding: 10px;
}

aside {
    background: rgba(95, 93, 93, 0.1);
    width: 200px;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 5px 10px;
    padding: 5px;
}

footer {
    background: wheat;
    height: 50px;
    padding: 5px;
}